<div id="place-address" class="tab-pane fade" data-role="place-panel">
    <div class="col-lg-12">
        <h3 class="page-header">{{ 'Address'|trans }}</h3>
    </div>
    <div class="col-lg-4">
        {{ form_row(form.address, {'attr': {'data-id': 'address'}}) }}
        {{ form_row(form.addressComplement, {'attr': {'data-id': 'address-complement'}}) }}
        {{ form_row(form.zipCode, {'attr': {'data-id': 'zip-code'}}) }}
        {{ form_row(form.city, {'attr': {'data-id': 'city'}}) }}
        {{ form_row(form.country, {'attr': {'data-id': 'country'}}) }}
        {% set divClass = 'form-group' %}
        {% if form.latitude.vars.errors|length > 0 or form.longitude.vars.errors|length > 0 %}
            {% set divClass = divClass ~ ' has-error' %}
        {% endif %}
        <div class="{{ divClass }}">
            <button type="button" class="btn btn-default geocode-btn" data-id="geocode">
                <i class="fa fa-map-marker"> {{ 'Locate'|trans }}</i>
                {{ form_widget(form.latitude, {'attr': {'data-id': 'place-latitude'}}) }}
                {{ form_widget(form.longitude, {'attr': {'data-id': 'place-longitude'}}) }}
            </button>
            {% if form.latitude.vars.errors|length > 0 %}
                {{ form_errors(form.latitude) }}
            {% elseif form.longitude.vars.errors|length > 0 %}
                {{ form_errors(form.longitude) }}
            {% endif %}
        </div>
        <div class="form-group alert alert-info place-locations" data-id="place-locations" hidden>
            <span>{{ 'There are multiple locations possibilities for this address:'|trans }}</span>
            <div data-id="place-locations-list" class="place-locations-list"></div>
            <div data-id="place-locations-list-template" class="place-locations-list-template">
                <div data-id="place-location-template" data-role="place-location" class="radio place-location">
                    <label>
                        <input type="radio" name="location" data-role="place-location-input"/>
                        <span data-role="place-location-label"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group alert alert-info" data-id="place-locations-none" hidden>
            <span data-id="place-locations-none" hidden>{{ 'No result for this address.'|trans }}</span>
        </div>
        <div class="form-group alert alert-danger" data-id="place-locations-error" hidden>
            <span>{{ 'Error during location retrieval.'|trans }}</span>
        </div>

    </div>
    <div class="col-lg-8">
        <div id="place-map" data-marker-src="{{ mapMarker }}"></div>
    </div>
</div>