<div class="panel">
    <div class="panel-body">
        {{ form_start(form) }}
        <div class="panel-action">
            <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> {{ 'Cancel'|trans }}</button>
            {% set btnType =  isEmbed is not defined ? 'submit' : 'button' %}
            <button type="{{ btnType }}" class="btn btn-success beer-submit"><i class="fa fa-check"></i> {{ 'Send'|trans }}</button>
        </div>
        <div class="col-lg-12">
            <h3 class="page-header">{{ 'Type information' }}</h3>
        </div>
        <div class="col-lg-4 form-group">
            {{ form_row(form.translations) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>