<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('assets/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="{{ asset('assets/lib/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('assets/lib/sb-admin-2/css/sb-admin-2.css') }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{ asset('assets/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/lib/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
        {% block layout_stylesheets %}{% endblock layout_stylesheets %}
    </head>
    <body>
        {% block layout_body %}{% endblock layout_body %}
        <script src="{{ asset('assets/lib/jquery/jquery.min.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('assets/lib/bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('assets/lib/metisMenu/metisMenu.min.js') }}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('assets/lib/sb-admin-2/js/sb-admin-2.js') }}"></script>
        <script src="{{ asset('assets/lib/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
        {% block layout_javascripts %}{% endblock layout_javascripts%}
    </body>
</html>
